# Some general ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/


#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
*.xcworkspace
*.xcuserd

# OS-specific ignore patterns
#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*
